In [1]:
a = 5

print(a)

print(type(a))

5
<class 'int'>

In [2]:
b = 10.5

print(b)
print(type(b))

10.5
<class 'float'>

In [3]:
c = b - a
print(c)
print(type(c))

5.5
<class 'float'>

In [4]:
d = b ** a
print(d, type(d))

127628.15625 <class 'float'>

In [5]:
e = b * a
print(e, type(e))

52.5 <class 'float'>

In [6]:
f = b/a
print(f, type(f))

2.1 <class 'float'>

In [7]:
g = b//a
print(g, type(g))

2.0 <class 'float'>

In [8]:
s = 'a quick brown fox'

print(type(s), s)

<class 'str'> a quick brown fox

In [9]:
s_lead = '          a quick brown fox'

s_trail = 'a quick brown fox                '

s_both =  '          a quick brown fox                '

print(s_lead.lstrip(), type(s_lead), s_lead)
print(s_trail.rstrip(), type(s_lead))
print(s_both.strip(), type(s_lead))

a quick brown fox <class 'str'>           a quick brown fox
a quick brown fox <class 'str'>
a quick brown fox <class 'str'>

In [10]:
s_1 = '4$564%%'
print(s_1.rstrip('%'))

4$564

In [11]:
s2 = '$4%'
print(s2.lstrip('$'))

4%

In [12]:
'abcddcbaabcd'.replace('abcd', '', 1)

'dcbaabcd'

In [13]:
'abcddcbaabcd'.replace('abcd', '', 2)

'dcba'

In [14]:
'abcddcbaabcdvamabcdefghabcdwxyz'.replace('abcd', '%')

'%dcba%vam%efgh%wxyz'

Indexing and Slicing

In [15]:
print(s)

a quick brown fox

In [16]:
val = '2 apples'
num_of_apples = val[0]
print(num_of_apples)

2

In [17]:
val[2:]

'apples'

In [18]:
val[2::2]

'ape'

In [19]:
val[2:5]

'app'

In [20]:
val[::-1]

'selppa 2'

In [21]:
val[::2]

'2ape'

In [22]:
val[1::2]

' pls'

In [23]:
batch = '5 oranges 3 monkeys n'

fruits = batch[:9]
print(fruits)

5 oranges

In [24]:
a = 'Data'
b = 'Analysis'
c = 'Pandas'

print('{0} {1} using {2}'.format(a,b,c))

Data Analysis using Pandas

#### String Split
Description
Split the string input_str = 'Kumar_Ravi_003' to the person's second name, first name and unique customer code. In this example, second_name= 'Kumar', first_name= 'Ravi', customer_code = '003'.

A sample output of the input 'Kumar_Ravi_003' is:

Ravi
Kumar
003

 
Note that you need to print in the order first name, last name and customer code.

In [25]:
input_str = 'Kumar_Ravi_003'
splits = input_str.split('_')
# print(type(splits), splits[0],splits[1],splits[2])
first_name = splits[1]
second_name = splits[0]
customer_code = splits[2]
print(first_name)
print(second_name)
print(customer_code)

Ravi
Kumar
003

In [26]:
a = 10
b = 3
print(a%b)

word = 'I love Python programming'
print(word[7:13])
print(word[7:12])
print(word[-12:-18])
print(word[-18:-12])

1
Python
Pytho

Python

In [27]:
len('Python')

6

### SETS

In [28]:
basket = {'apple', 'banana', 'cherry', 'almonds', 'mango', 'banana', 'apple', 'grapes', 'cherry'}

print(basket)

{'banana', 'cherry', 'mango', 'grapes', 'apple', 'almonds'}

In [29]:
'orange' in basket

False

In [30]:
'cherry' in basket

True

In [31]:
a = set('abracadabra')

print(a)

{'b', 'r', 'c', 'd', 'a'}

In [32]:
b = set('zipzabzoom')

print(b)

{'b', 'o', 'z', 'm', 'a', 'p', 'i'}

In [33]:
# letters in a but not in b
a - b

{'c', 'd', 'r'}

In [34]:
a+b

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [35]:
# letters in both a and b
a & b

{'a', 'b'}

In [36]:
# letter in a, b or both
a | b

{'a', 'b', 'c', 'd', 'i', 'm', 'o', 'p', 'r', 'z'}

In [37]:
# letters in a or b but not both
a ^ b

{'c', 'd', 'i', 'm', 'o', 'p', 'r', 'z'}

In [38]:
a = {x for x in 'abracadabra' if x not in 'abc'}
print(a)

print(type(a))

{'r', 'd'}
<class 'set'>

In [39]:
s = 'vamsi'
t = 'sriram'
z = {'abracadabra', 'vamsi', 'krishna', s, t}

print(z)

{'sriram', 'krishna', 'vamsi', 'abracadabra'}

In [40]:
z1 = set('abracadabra', 'vamsi','krishna',s,t)

print(z1)

TypeError: set expected at most 1 arguments, got 5

### Lists

In [41]:
initList = list('abracadabra')

print(initList)

['a', 'b', 'r', 'a', 'c', 'a', 'd', 'a', 'b', 'r', 'a']

In [42]:
n = 'nandu'
initList = ['vamsi', 'sriram', 'krishna', n]

print(initList, type(initList))

['vamsi', 'sriram', 'krishna', 'nandu'] <class 'list'>

In [43]:
initList.reverse()

print(initList)

['nandu', 'krishna', 'sriram', 'vamsi']

In [44]:
'vk' in initList

False

In [45]:
'vamsi' in initList

True

In [46]:
initList.append('sailu')

print(initList)

['nandu', 'krishna', 'sriram', 'vamsi', 'sailu']

In [47]:
initList[::-1]

['sailu', 'vamsi', 'sriram', 'krishna', 'nandu']

In [48]:
initList[-1]

'sailu'

In [49]:
initList[3]

'vamsi'

In [50]:
initList[10]

IndexError: list index out of range

In [ ]:
initList[1::-1]

In [ ]:
initList

In [ ]:
initList[::2]

In [ ]:
initList[1::-2]

In [ ]:
initList[2::-2]

In [ ]:
initList[4::-2]

List_remove_append

Description

Remove SPSS from input_list=['SAS', 'R', 'PYTHON', 'SPSS'] and add 'SPARK' in its place.4

In [ ]:
input_list=['SAS', 'R', 'PYTHON', 'SPSS']
input_list.remove('SPSS')

print(input_list)

input_list.append('SPARK')
print(input_list)