Remove the repeated 'Cust_' from the column Cust_id so that the output column Cust_id have just numbers like 1, 2, 3 and so on.
Print the first 10 rows of the dataset  'customer' after processing.
Execution time limit

20 seconds

In [14]:
import pandas as pd
customer = pd.read_csv('https://query.data.world/s/y9rxL9mGdP6AXPiDaIL4yYm6DsfTV2')

In [15]:
customer.head()

        Customer_Name Province   Region Customer_Segment Cust_id
0  MUHAMMED MACINTYRE  NUNAVUT  NUNAVUT   SMALL BUSINESS  Cust_1
1        BARRY FRENCH  NUNAVUT  NUNAVUT         CONSUMER  Cust_2
2       CLAY ROZENDAL  NUNAVUT  NUNAVUT        CORPORATE  Cust_3
3      CARLOS SOLTERO  NUNAVUT  NUNAVUT         CONSUMER  Cust_4
4        CARL JACKSON  NUNAVUT  NUNAVUT        CORPORATE  Cust_5

In [16]:
def splitter(x):
    return x.split("_")[1]

In [17]:


customer['Cust_id'] = customer['Cust_id'].apply(lambda x:x.split("_")[1])
# customer['Cust_id'] = customer['Cust_id'].apply(splittertter)
print(customer.head(10))

        Customer_Name Province   Region Customer_Segment Cust_id
0  MUHAMMED MACINTYRE  NUNAVUT  NUNAVUT   SMALL BUSINESS       1
1        BARRY FRENCH  NUNAVUT  NUNAVUT         CONSUMER       2
2       CLAY ROZENDAL  NUNAVUT  NUNAVUT        CORPORATE       3
3      CARLOS SOLTERO  NUNAVUT  NUNAVUT         CONSUMER       4
4        CARL JACKSON  NUNAVUT  NUNAVUT        CORPORATE       5
5      MONICA FEDERLE  NUNAVUT  NUNAVUT        CORPORATE       6
6     DOROTHY BADDERS  NUNAVUT  NUNAVUT      HOME OFFICE       7
7     NEOLA SCHNEIDER  NUNAVUT  NUNAVUT      HOME OFFICE       8
8         CARLOS DALY  NUNAVUT  NUNAVUT      HOME OFFICE       9
9       CLAUDIA MINER  NUNAVUT  NUNAVUT   SMALL BUSINESS      10

Rounding decimal places of a column
Description
The given dataframe 'sleepstudy' has a column 'Reaction' with floating integer values up to 4 decimal places. Round off the decimal places to 1.
Execution time limit

20 seconds

In [19]:
from pydataset import data
sleepstudy =data('sleepstudy')

initiated datasets repo at: C:\Users\vamsi.gp\.pydataset/

In [20]:
sleepstudy['Reaction'] = sleepstudy['Reaction'].apply(lambda x:round(x,2))

print(sleepstudy.head(10))

    Reaction  Days  Subject
1     249.56     0      308
2     258.70     1      308
3     250.80     2      308
4     321.44     3      308
5     356.85     4      308
6     414.69     5      308
7     382.20     6      308
8     290.15     7      308
9     430.59     8      308
10    466.35     9      308

Duplicated Rows
Description
The given Dataframe 'rating' has repeated rows. You need to remove the duplicated rows.

In [21]:
import pandas as pd
rating = pd.read_csv('https://query.data.world/s/EX0EpmqwfA2UYGz1Xtd_zi4R0dQpog')

In [27]:
rating_update = rating.drop_duplicates()

print(rating.shape)
print(rating_update.shape)

(1254, 5)
(1149, 5)

In [25]:
a = rating.drop_duplicates()
a.shape

(1149, 5)

In [26]:
rating.shape

(1254, 5)