In [1]:
import pandas as pd
import numpy as np
# Importing telecom_churn_data.csv
telecom_data = pd.read_csv('telecom_churn_data.csv')

In [2]:
telecom_data.head()

,mobile_number,circle_id,loc_og_t2o_mou,std_og_t2o_mou,loc_ic_t2o_mou,last_date_of_month_6,last_date_of_month_7,last_date_of_month_8,last_date_of_month_9,arpu_6,...,sachet_3g_9,fb_user_6,fb_user_7,fb_user_8,fb_user_9,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,sep_vbc_3g
0,7000842753,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,197.385,...,0,1.0,1.0,1.0,NaN,968,30.4,0.0,101.20,3.58
1,7001865778,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,34.047,...,0,NaN,1.0,1.0,NaN,1006,0.0,0.0,0.00,0.00
2,7001625959,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,167.690,...,0,NaN,NaN,NaN,1.0,1103,0.0,0.0,4.17,0.00
3,7001204172,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,221.338,...,0,NaN,NaN,NaN,NaN,2491,0.0,0.0,0.00,0.00
4,7000142493,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,261.636,...,0,0.0,NaN,NaN,NaN,1526,0.0,0.0,0.00,0.00

In [3]:
telecom_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99999 entries, 0 to 99998
Columns: 226 entries, mobile_number to sep_vbc_3g
dtypes: float64(179), int64(35), object(12)
memory usage: 172.4+ MB

In [4]:
telecom_data.describe()

,mobile_number,circle_id,loc_og_t2o_mou,std_og_t2o_mou,loc_ic_t2o_mou,arpu_6,arpu_7,arpu_8,arpu_9,onnet_mou_6,...,sachet_3g_9,fb_user_6,fb_user_7,fb_user_8,fb_user_9,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,sep_vbc_3g
count,9.999900e+04,99999.0,98981.0,98981.0,98981.0,99999.000000,99999.000000,99999.000000,99999.000000,96062.000000,...,99999.000000,25153.000000,25571.000000,26339.000000,25922.000000,99999.000000,99999.000000,99999.000000,99999.000000,99999.000000
mean,7.001207e+09,109.0,0.0,0.0,0.0,282.987358,278.536648,279.154731,261.645069,132.395875,...,0.084581,0.914404,0.908764,0.890808,0.860968,1219.854749,68.170248,66.839062,60.021204,3.299373
std,6.956694e+05,0.0,0.0,0.0,0.0,328.439770,338.156291,344.474791,341.998630,297.207406,...,0.650457,0.279772,0.287950,0.311885,0.345987,954.733842,267.580450,271.201856,253.938223,32.408353
min,7.000000e+09,109.0,0.0,0.0,0.0,-2258.709000,-2014.045000,-945.808000,-1899.505000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,180.000000,0.000000,0.000000,0.000000,0.000000
25%,7.000606e+09,109.0,0.0,0.0,0.0,93.411500,86.980500,84.126000,62.685000,7.380000,...,0.000000,1.000000,1.000000,1.000000,1.000000,467.000000,0.000000,0.000000,0.000000,0.000000
50%,7.001205e+09,109.0,0.0,0.0,0.0,197.704000,191.640000,192.080000,176.849000,34.310000,...,0.000000,1.000000,1.000000,1.000000,1.000000,863.000000,0.000000,0.000000,0.000000,0.000000
75%,7.001812e+09,109.0,0.0,0.0,0.0,371.060000,365.344500,369.370500,353.466500,118.740000,...,0.000000,1.000000,1.000000,1.000000,1.000000,1807.500000,0.000000,0.000000,0.000000,0.000000
max,7.002411e+09,109.0,0.0,0.0,0.0,27731.088000,35145.834000,33543.624000,38805.617000,7376.710000,...,49.000000,1.000000,1.000000,1.000000,1.000000,4337.000000,12916.220000,9165.600000,11166.210000,2618.570000

[vamsi] Below are not categorical variables; need to convert them to date objects

In [5]:
#list the categorical variales
categorical_variables = list(telecom_data.columns[telecom_data.dtypes == 'object'])
categorical_variables

['last_date_of_month_6',
 'last_date_of_month_7',
 'last_date_of_month_8',
 'last_date_of_month_9',
 'date_of_last_rech_6',
 'date_of_last_rech_7',
 'date_of_last_rech_8',
 'date_of_last_rech_9',
 'date_of_last_rech_data_6',
 'date_of_last_rech_data_7',
 'date_of_last_rech_data_8',
 'date_of_last_rech_data_9']

In [6]:
#Check if any null data in the dataframe
telecom_data.isna().any().any()

True

In [7]:
telecom_data.isnull().sum()

mobile_number               0
circle_id                   0
loc_og_t2o_mou           1018
std_og_t2o_mou           1018
loc_ic_t2o_mou           1018
last_date_of_month_6        0
last_date_of_month_7      601
last_date_of_month_8     1100
last_date_of_month_9     1659
arpu_6                      0
arpu_7                      0
arpu_8                      0
arpu_9                      0
onnet_mou_6              3937
onnet_mou_7              3859
onnet_mou_8              5378
onnet_mou_9              7745
offnet_mou_6             3937
offnet_mou_7             3859
offnet_mou_8             5378
offnet_mou_9             7745
roam_ic_mou_6            3937
roam_ic_mou_7            3859
roam_ic_mou_8            5378
roam_ic_mou_9            7745
roam_og_mou_6            3937
roam_og_mou_7            3859
roam_og_mou_8            5378
roam_og_mou_9            7745
loc_og_t2t_mou_6         3937
                        ...
arpu_2g_9               74077
night_pck_user_6        74846
night_pck_user_7        74428
night_pck_user_8        73660
night_pck_user_9        74077
monthly_2g_6                0
monthly_2g_7                0
monthly_2g_8                0
monthly_2g_9                0
sachet_2g_6                 0
sachet_2g_7                 0
sachet_2g_8                 0
sachet_2g_9                 0
monthly_3g_6                0
monthly_3g_7                0
monthly_3g_8                0
monthly_3g_9                0
sachet_3g_6                 0
sachet_3g_7                 0
sachet_3g_8                 0
sachet_3g_9                 0
fb_user_6               74846
fb_user_7               74428
fb_user_8               73660
fb_user_9               74077
aon                         0
aug_vbc_3g                  0
jul_vbc_3g                  0
jun_vbc_3g                  0
sep_vbc_3g                  0
Length: 226, dtype: int64

In [8]:
round(100*(telecom_data.isnull().sum()/len(telecom_data.index)), 2)

mobile_number            0.00
circle_id                0.00
loc_og_t2o_mou           1.02
std_og_t2o_mou           1.02
loc_ic_t2o_mou           1.02
last_date_of_month_6     0.00
last_date_of_month_7     0.60
last_date_of_month_8     1.10
last_date_of_month_9     1.66
arpu_6                   0.00
arpu_7                   0.00
arpu_8                   0.00
arpu_9                   0.00
onnet_mou_6              3.94
onnet_mou_7              3.86
onnet_mou_8              5.38
onnet_mou_9              7.75
offnet_mou_6             3.94
offnet_mou_7             3.86
offnet_mou_8             5.38
offnet_mou_9             7.75
roam_ic_mou_6            3.94
roam_ic_mou_7            3.86
roam_ic_mou_8            5.38
roam_ic_mou_9            7.75
roam_og_mou_6            3.94
roam_og_mou_7            3.86
roam_og_mou_8            5.38
roam_og_mou_9            7.75
loc_og_t2t_mou_6         3.94
                        ...
arpu_2g_9               74.08
night_pck_user_6        74.85
night_pck_user_7        74.43
night_pck_user_8        73.66
night_pck_user_9        74.08
monthly_2g_6             0.00
monthly_2g_7             0.00
monthly_2g_8             0.00
monthly_2g_9             0.00
sachet_2g_6              0.00
sachet_2g_7              0.00
sachet_2g_8              0.00
sachet_2g_9              0.00
monthly_3g_6             0.00
monthly_3g_7             0.00
monthly_3g_8             0.00
monthly_3g_9             0.00
sachet_3g_6              0.00
sachet_3g_7              0.00
sachet_3g_8              0.00
sachet_3g_9              0.00
fb_user_6               74.85
fb_user_7               74.43
fb_user_8               73.66
fb_user_9               74.08
aon                      0.00
aug_vbc_3g               0.00
jul_vbc_3g               0.00
jun_vbc_3g               0.00
sep_vbc_3g               0.00
Length: 226, dtype: float64

In [9]:
telecom_data = telecom_data.drop('arpu_2g_9', axis=1)
telecom_data = telecom_data.drop('arpu_2g_8', axis=1)
# vamsi - night_pck_user_* null can be replaced by no/0
telecom_data = telecom_data.drop('night_pck_user_8', axis=1)
telecom_data = telecom_data.drop('night_pck_user_9', axis=1)

telecom_data = telecom_data.drop('arpu_3g_9', axis=1)
telecom_data = telecom_data.drop('arpu_3g_8', axis=1)
# vamsi - fb_user_* null can be replaced by no/0
telecom_data = telecom_data.drop('fb_user_8', axis=1)
telecom_data = telecom_data.drop('fb_user_9', axis=1)

# As mentioned above, you need to predict churn only for the high-value customers. 
# Define high-value customers as follows: Those who have recharged with an amount more than or equal to X, 
# where X is the 70th percentile of the average recharge amount in the first two months (the good phase).
# => need to consider the columns tot_recharge and avg_rech
# vamsi - av_rech_amt_data => we need to consider for 6, 7 and 8 months (8th month missing value can be replaced by either min/mean -
# need to perform univariate analysis and confirm)
telecom_data = telecom_data.drop('av_rech_amt_data_9', axis=1)
telecom_data = telecom_data.drop('av_rech_amt_data_8', axis=1)

# vamsi - as 8th month is an action phase - missing values can be replaced by 0
# applies to all the below columns values
telecom_data = telecom_data.drop('count_rech_3g_9', axis=1)
telecom_data = telecom_data.drop('count_rech_3g_8', axis=1)

telecom_data = telecom_data.drop('count_rech_2g_9', axis=1)
telecom_data = telecom_data.drop('count_rech_2g_8', axis=1)

telecom_data = telecom_data.drop('max_rech_data_9', axis=1)
telecom_data = telecom_data.drop('max_rech_data_8', axis=1)

telecom_data = telecom_data.drop('total_rech_data_9', axis=1)
telecom_data = telecom_data.drop('total_rech_data_8', axis=1)

telecom_data = telecom_data.drop('date_of_last_rech_data_9', axis=1)
telecom_data = telecom_data.drop('date_of_last_rech_data_8', axis=1)

round(100*(telecom_data.isnull().sum()/len(telecom_data.index)), 2)

mobile_number            0.00
circle_id                0.00
loc_og_t2o_mou           1.02
std_og_t2o_mou           1.02
loc_ic_t2o_mou           1.02
last_date_of_month_6     0.00
last_date_of_month_7     0.60
last_date_of_month_8     1.10
last_date_of_month_9     1.66
arpu_6                   0.00
arpu_7                   0.00
arpu_8                   0.00
arpu_9                   0.00
onnet_mou_6              3.94
onnet_mou_7              3.86
onnet_mou_8              5.38
onnet_mou_9              7.75
offnet_mou_6             3.94
offnet_mou_7             3.86
offnet_mou_8             5.38
offnet_mou_9             7.75
roam_ic_mou_6            3.94
roam_ic_mou_7            3.86
roam_ic_mou_8            5.38
roam_ic_mou_9            7.75
roam_og_mou_6            3.94
roam_og_mou_7            3.86
roam_og_mou_8            5.38
roam_og_mou_9            7.75
loc_og_t2t_mou_6         3.94
                        ...
vol_3g_mb_9              0.00
arpu_3g_6               74.85
arpu_3g_7               74.43
arpu_2g_6               74.85
arpu_2g_7               74.43
night_pck_user_6        74.85
night_pck_user_7        74.43
monthly_2g_6             0.00
monthly_2g_7             0.00
monthly_2g_8             0.00
monthly_2g_9             0.00
sachet_2g_6              0.00
sachet_2g_7              0.00
sachet_2g_8              0.00
sachet_2g_9              0.00
monthly_3g_6             0.00
monthly_3g_7             0.00
monthly_3g_8             0.00
monthly_3g_9             0.00
sachet_3g_6              0.00
sachet_3g_7              0.00
sachet_3g_8              0.00
sachet_3g_9              0.00
fb_user_6               74.85
fb_user_7               74.43
aon                      0.00
aug_vbc_3g               0.00
jul_vbc_3g               0.00
jun_vbc_3g               0.00
sep_vbc_3g               0.00
Length: 206, dtype: float64

In [10]:
#determining high value customers

telecom_data['av_rech_amt_data_6'].mean()
#print(telecom_data['avg_rechg_amt_6'])
#avg = telecom_data.groupby('avg_rechg_amt_6')

192.60098199021988

In [11]:
avg_perc_6 = telecom_data['av_rech_amt_data_6'].mean()*.7
avg_perc_6

134.82068739315392

In [12]:
avg_perc_7 = telecom_data['av_rech_amt_data_7'].mean()*.7
avg_perc_7

140.68690418833836

In [17]:
total_avg_perc = (avg_perc_6 + avg_perc_7)/2
print(total_avg_perc, type(total_avg_perc))

137.75379579074615 <class 'float'>

In [16]:
print(telecom_data['av_rech_amt_data_6'])

0        252.0
1          NaN
2          NaN
3          NaN
4         56.0
5          NaN
6          NaN
7          NaN
8          NaN
9          NaN
10         NaN
11         NaN
12         NaN
13         NaN
14         NaN
15         NaN
16         NaN
17         NaN
18         NaN
19       154.0
20         NaN
21         NaN
22         NaN
23         NaN
24         NaN
25         NaN
26         NaN
27         NaN
28         NaN
29         NaN
         ...
99969    138.0
99970     23.0
99971      NaN
99972      NaN
99973      NaN
99974      NaN
99975      NaN
99976      NaN
99977      NaN
99978      NaN
99979      NaN
99980     23.0
99981    252.0
99982    154.0
99983      NaN
99984    154.0
99985      NaN
99986     17.0
99987     14.0
99988      NaN
99989      NaN
99990      NaN
99991      NaN
99992      NaN
99993      NaN
99994      NaN
99995      NaN
99996     39.0
99997    583.0
99998    154.0
Name: av_rech_amt_data_6, Length: 99999, dtype: float64