Python Recap

In [1]:
a = 5

print(a)

print(type(a))

5
<class 'int'>

In [2]:
b = 10.5

print(b)
print(type(b))

10.5
<class 'float'>

In [3]:
c = b - a
print(c)
print(type(c))

5.5
<class 'float'>

In [4]:
d = b ** a
print(d, type(d))

127628.15625 <class 'float'>

In [5]:
e = b * a
print(e, type(e))

52.5 <class 'float'>

In [6]:
f = b/a
print(f, type(f))

2.1 <class 'float'>

In [7]:
g = b//a
print(g, type(g))

2.0 <class 'float'>

In [8]:
s = 'a quick brown fox'

print(type(s), s)

<class 'str'> a quick brown fox

In [9]:
s_lead = '          a quick brown fox'

s_trail = 'a quick brown fox                '

s_both =  '          a quick brown fox                '

print(s_lead.lstrip(), type(s_lead), s_lead)
print(s_trail.rstrip(), type(s_lead))
print(s_both.strip(), type(s_lead))

a quick brown fox <class 'str'>           a quick brown fox
a quick brown fox <class 'str'>
a quick brown fox <class 'str'>

In [10]:
s_1 = '4$564%%'
print(s_1.rstrip('%'))

4$564

In [11]:
s2 = '$4%'
print(s2.lstrip('$'))

4%

In [12]:
'abcddcbaabcd'.replace('abcd', '', 1)

'dcbaabcd'

In [13]:
'abcddcbaabcd'.replace('abcd', '', 2)

'dcba'

In [14]:
'abcddcbaabcdvamabcdefghabcdwxyz'.replace('abcd', '%')

'%dcba%vam%efgh%wxyz'

Indexing and Slicing

In [15]:
print(s)

a quick brown fox

In [16]:
val = '2 apples'
num_of_apples = val[0]
print(num_of_apples)

2

In [17]:
val[2:]

'apples'

In [18]:
val[2::2]

'ape'

In [19]:
val[2:5]

'app'

In [20]:
val[::-1]

'selppa 2'

In [21]:
val[::2]

'2ape'

In [22]:
val[1::2]

' pls'

In [23]:
batch = '5 oranges 3 monkeys n'

fruits = batch[:9]
print(fruits)

5 oranges

In [24]:
a = 'Data'
b = 'Analysis'
c = 'Pandas'

print('{0} {1} using {2}'.format(a,b,c))

Data Analysis using Pandas

#### String Split
Description
Split the string input_str = 'Kumar_Ravi_003' to the person's second name, first name and unique customer code. In this example, second_name= 'Kumar', first_name= 'Ravi', customer_code = '003'.

A sample output of the input 'Kumar_Ravi_003' is:

Ravi
Kumar
003

 
Note that you need to print in the order first name, last name and customer code.

In [25]:
input_str = 'Kumar_Ravi_003'
splits = input_str.split('_')
# print(type(splits), splits[0],splits[1],splits[2])
first_name = splits[1]
second_name = splits[0]
customer_code = splits[2]
print(first_name)
print(second_name)
print(customer_code)

Ravi
Kumar
003

In [26]:
a = 10
b = 3
print(a%b)

word = 'I love Python programming'
print(word[7:13])
print(word[7:12])
print(word[-12:-18])
print(word[-18:-12])

1
Python
Pytho

Python

In [27]:
len('Python')

6

### SETS

In [28]:
basket = {'apple', 'banana', 'cherry', 'almonds', 'mango', 'banana', 'apple', 'grapes', 'cherry'}

print(basket)

{'almonds', 'apple', 'cherry', 'grapes', 'mango', 'banana'}

In [29]:
'orange' in basket

False

In [30]:
'cherry' in basket

True

In [31]:
a = set('abracadabra')

print(a)

{'d', 'b', 'r', 'c', 'a'}

In [32]:
b = set('zipzabzoom')

print(b)

{'i', 'm', 'o', 'p', 'b', 'z', 'a'}

In [33]:
# letters in a but not in b
a - b

{'c', 'd', 'r'}

In [34]:
# a+b

In [35]:
# letters in both a and b
a & b

{'a', 'b'}

In [36]:
# letter in a, b or both
a | b

{'a', 'b', 'c', 'd', 'i', 'm', 'o', 'p', 'r', 'z'}

In [37]:
# letters in a or b but not both
a ^ b

{'c', 'd', 'i', 'm', 'o', 'p', 'r', 'z'}

In [38]:
a = {x for x in 'abracadabra' if x not in 'abc'}
print(a)

print(type(a))

{'r', 'd'}
<class 'set'>

In [39]:
s = 'vamsi'
t = 'sriram'
z = {'abracadabra', 'vamsi', 'krishna', s, t}

print(z)

{'abracadabra', 'vamsi', 'krishna', 'sriram'}

In [40]:
z1 = set('abracadabra', 'vamsi','krishna',s,t)

print(z1)

TypeError: set expected at most 1 arguments, got 5

### Lists

In [41]:
initList = list('abracadabra')

print(initList)

['a', 'b', 'r', 'a', 'c', 'a', 'd', 'a', 'b', 'r', 'a']

In [42]:
n = 'nandu'
initList = ['vamsi', 'sriram', 'krishna', n]

print(initList, type(initList))

['vamsi', 'sriram', 'krishna', 'nandu'] <class 'list'>

In [43]:
initList.reverse()

print(initList)

['nandu', 'krishna', 'sriram', 'vamsi']

In [44]:
'vk' in initList

False

In [45]:
'vamsi' in initList

True

In [46]:
initList.append('sailu')

print(initList)

['nandu', 'krishna', 'sriram', 'vamsi', 'sailu']

In [47]:
initList[::-1]

['sailu', 'vamsi', 'sriram', 'krishna', 'nandu']

In [48]:
initList[-1]

'sailu'

In [49]:
initList[3]

'vamsi'

In [50]:
initList[10]

IndexError: list index out of range

In [51]:
initList[1::-1]

['krishna', 'nandu']

In [52]:
initList

['nandu', 'krishna', 'sriram', 'vamsi', 'sailu']

In [53]:
initList[::2]

['nandu', 'sriram', 'sailu']

In [54]:
initList[1::-2]

['krishna']

In [55]:
initList[2::-2]

['sriram', 'nandu']

In [56]:
initList[4::-2]

['sailu', 'sriram', 'nandu']

List_remove_append

Description

Remove SPSS from input_list=['SAS', 'R', 'PYTHON', 'SPSS'] and add 'SPARK' in its place.4

In [57]:
input_list=['SAS', 'R', 'PYTHON', 'SPSS']
input_list.remove('SPSS')

print(input_list)

input_list.append('SPARK')
print(input_list)

['SAS', 'R', 'PYTHON']
['SAS', 'R', 'PYTHON', 'SPARK']

### Tuples

Ordered collection of Elements
Similar to Lists except it cant be modified

Why tuple?
Whenever you want to make sure the datastructure not to be changed.
eg- return values from any method where you want not to be disturbed.
return location data from location API; you dont want to modify the order in which API return values

list is []
tuple is ()

In [1]:
tup1 = ('marc', 'case', 25, 'CSE')

print(tup1)

print(tup1[0])

val = tup1.count(25)
print("vaml=",val)

print(len(tup1))
print("-"*5)
for item in tup1:
    print(item)

print("-"*5)

('marc', 'case', 25, 'CSE')
marc
vaml= 1
4
-----
marc
case
25
CSE
-----

In [72]:
# tuple from list
tupe2 = tuple(input_list)
print(tupe2)

print(tupe2[1])
print(tupe2[::-1])

('SAS', 'R', 'PYTHON', 'SPARK')
R
('SPARK', 'PYTHON', 'R', 'SAS')

In [76]:
updatedLst = list(tupe2)

print(updatedLst)

updatedLst.append('Java')

print(updatedLst)

tupe3 = tuple(updatedLst)
print(tupe3)

['SAS', 'R', 'PYTHON', 'SPARK']
['SAS', 'R', 'PYTHON', 'SPARK', 'Java']
('SAS', 'R', 'PYTHON', 'SPARK', 'Java')

In [77]:
print(tup1, tupe2)

('marc', 'case', 25, 'CSE') ('SAS', 'R', 'PYTHON', 'SPARK')

In [81]:
nestedTup = (tup1, tupe2)

print(nestedTup)

print(nestedTup[1][2])

print(nestedTup[0][::-1])

(('marc', 'case', 25, 'CSE'), ('SAS', 'R', 'PYTHON', 'SPARK'))
PYTHON
('CSE', 25, 'case', 'marc')

In [82]:
(x,y,z,w) = tup1

print(x, y, z, w)

marc case 25 CSE

In [84]:
tupe4 = (initList, 'vk')

print(tupe4)

tupe4[0].append("append1")

print(tupe4)

(['nandu', 'krishna', 'sriram', 'vamsi', 'sailu'], 'vk')
(['nandu', 'krishna', 'sriram', 'vamsi', 'sailu', 'append1'], 'vk')

### Dictionaries

In [85]:
dict1 = {}
print(type(dict1))

<class 'dict'>

In [89]:
set1 = {'Vamvam', 'Vamvam'}
print(type(set1), set1)

set0 = {}
print(type(set0), set0)

<class 'set'> {'Vamvam'}
<class 'dict'> {}

In [91]:
input_dict={'Name': 'Monty', 'Profession': 'Singer' }

print(input_dict.get('Label', "NA"))

NA

In [92]:
input_dict['Label']="TestLabel"

print(input_dict)

{'Name': 'Monty', 'Profession': 'Singer', 'Label': 'TestLabel'}

In [95]:
print('vk' in input_dict)

print('Name' in input_dict)

print('name' in input_dict)

False
True
False

In [99]:
print(input_dict.keys())
print(input_dict.values())

dict_keys(['Name', 'Profession', 'Label'])
dict_values(['Monty', 'Singer', 'TestLabel'])

In [100]:
print(list(input_dict.values()))

['Monty', 'Singer', 'TestLabel']

In [101]:
testdic = {'Jack Dorsey': 'Twitter', 'Tim Cook': 'Apple','Jeff Bezos': 'Amazon','Mukesh Ambani': 'RJIO'}

In [104]:
testdic.get('Tim Cook', 'NA')

'Apple'

In [119]:
a = list(testdic.values())
print(type(a))
print(a)
a.sort()
print(a)

<class 'list'>
['Twitter', 'Apple', 'Amazon', 'RJIO']
['Amazon', 'Apple', 'RJIO', 'Twitter']

In [120]:
d = {'a':1, 'b':2}
print(type(d), d)

<class 'dict'> {'a': 1, 'b': 2}

In [121]:
d = dict(a=1, b=2)
print(type(d), d)

<class 'dict'> {'a': 1, 'b': 2}

In [126]:
dict_1 = {"Python":40, "R":45}

print(dict_1)
print(list(dict_1.keys()))
del(dict_1['R'])
print(dict_1)

{'Python': 40, 'R': 45}
['Python', 'R']
{'Python': 40}

In [130]:
list_1 = [1,2,3]
list_2 = [2,3,4,5]

set_1 = set(list_1)
set_2 = set(list_2)

print(set_1)
print(set_2)

ans_1 = list(set_1.difference(set_2))
ans_2 = list(set_1.symmetric_difference(set_2))

ans_1.sort()
ans_2.sort()

print(ans_1)
print(ans_2)

{1, 2, 3}
{2, 3, 4, 5}
[1]
[1, 4, 5]