Mapping Variables
Description
You're given two lists, the first of which contains the name of some people and the second contains their corresponding 'response'. These lists have been converted to a dataframe.
Now, the values that the 'response' variable can take are ‘Yes’, ‘No’, and ‘Maybe’. Write a code to map these variables to the values ‘1.0’, ‘0.0’, and ‘0.5’.

Note: It also might happen the the first letter of the three responses are not in uppercase, i.e. you might also have the values 'yes', 'no', and 'maybe' in the dataframe. So make sure you handle that in your code.

Example:
Input 1:
['Reetesh', 'Shruti', 'Kaustubh', 'Vikas', 'Mahima', 'Akshay']
['No', 'Maybe', 'yes', 'Yes', 'maybe', 'Yes']
Output 1:

In [39]:
# Reading the input
import ast,sys
input_str = "[['Reetesh', 'Shruti', 'Kaustubh', 'Vikas', 'Mahima', 'Akshay'], ['No', 'Maybe', 'yes', 'Yes', 'maybe', 'Yes']]" #sys.stdin.read()
input_list = ast.literal_eval(input_str)
# Storing the names in a variable 'name'
name = input_list[0]
# Storing the responses in a variable 'repsonse'
response = input_list[1]

# Importing pandas and converting the read lists to a dataframe. You can print
# the dataframe and run the code to see what it will look like
import pandas as pd 
df = pd.DataFrame({'Name': name,'Response': response})

# Write your code here

# Print the final DataFrame
print(df)

       Name Response
0   Reetesh       No
1    Shruti    Maybe
2  Kaustubh      yes
3     Vikas      Yes
4    Mahima    maybe
5    Akshay      Yes

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 2 columns):
Name        6 non-null object
Response    6 non-null object
dtypes: object(2)
memory usage: 176.0+ bytes

In [41]:
def conversion_response(x):
    return x.map({"yes":1.0,"no":0.0,"maybe":0.5})

In [42]:
df

       Name Response
0   Reetesh       No
1    Shruti    Maybe
2  Kaustubh      yes
3     Vikas      Yes
4    Mahima    maybe
5    Akshay      Yes

In [43]:
df['Response'] = df['Response'].str.lower()
df[['Response']] = df[['Response']].apply(conversion_response)

In [44]:
df

       Name  Response
0   Reetesh       0.0
1    Shruti       0.5
2  Kaustubh       1.0
3     Vikas       1.0
4    Mahima       0.5
5    Akshay       1.0