Missing Values removal
Description
Count the number of missing values in each column of the dataset 'marks'.

In [1]:
import pandas as pd
marks = pd.read_csv('https://query.data.world/s/HqjNNadqEnwSq1qnoV_JqyRJkc7o6O')

In [2]:
marks.head()

   Prefix  Assignment  Tutorial  Midterm  TakeHome  Final
0       5       57.14     34.09    64.38     51.48  52.50
1       8       95.05    105.49    67.50     99.07  68.33
2       8       83.70     83.17    30.00     63.15  48.89
3       7       81.22     96.06    49.38    105.93  80.56
4       8       91.32     93.64    95.00    107.41  73.89

In [8]:
print(marks.isnull().sum())

Prefix         0
Assignment     2
Tutorial      12
Midterm       16
TakeHome       9
Final          5
dtype: int64

Removing rows with missing values
Description
Remove all the rows in the dataset 'marks' having 5 missing values and then print the number of missing values in each column.

In [9]:
import pandas as pd
marks = pd.read_csv('https://query.data.world/s/HqjNNadqEnwSq1qnoV_JqyRJkc7o6O')

In [27]:

marks =  marks[marks.isnull().sum(axis=1)<5] #Type your code here to remove rows with missing value equal to 5
print(marks.isnull().sum())

Prefix         0
Assignment     0
Tutorial      10
Midterm       14
TakeHome       7
Final          3
dtype: int64

In [18]:
marks = marks[marks.isnull().sum(axis=1)<5]

In [28]:
a = (marks.isnull().sum(axis=1))

In [29]:
a.values

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 2, 2, 2, 2, 0, 0, 0, 0, 0, 1, 0,
       0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 3,
       3, 3, 3, 3, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int64)