In [1]:
import numpy as np
import pandas as pd

In [2]:
df_com = pd.read_csv('companies.txt', sep='\t', encoding='ISo-8859-1')

In [3]:
df_com.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66368 entries, 0 to 66367
Data columns (total 10 columns):
permalink        66368 non-null object
name             66367 non-null object
homepage_url     61310 non-null object
category_list    63220 non-null object
status           66368 non-null object
country_code     59410 non-null object
state_code       57821 non-null object
region           58338 non-null object
city             58340 non-null object
founded_at       51147 non-null object
dtypes: object(10)
memory usage: 5.1+ MB

In [4]:
df_com.describe()

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
count,66368,66367,61310,63220,66368,59410,57821,58338,58340,51147
unique,66368,66102,61191,27296,4,137,311,1092,5111,3978
top,/Organization/Matchbook,Roost,http://www.askforoffer.com,Software,operating,USA,CA,SF Bay Area,San Francisco,01-01-2012
freq,1,4,5,3995,53034,37601,12900,8804,3526,2730

In [5]:
df_com.size

663680

In [6]:
df_com.shape

(66368, 10)

In [7]:
df_com.columns

Index(['permalink', 'name', 'homepage_url', 'category_list', 'status',
       'country_code', 'state_code', 'region', 'city', 'founded_at'],
      dtype='object')

In [8]:
df_com.head(10)

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/Organization/-Fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/Organization/-Qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
2,/Organization/-The-One-Of-Them-Inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
3,/Organization/0-6-Com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007
4,/Organization/004-Technologies,004 Technologies,http://004gmbh.de/en/004-interact,Software,operating,USA,IL,"Springfield, Illinois",Champaign,01-01-2010
5,/Organization/01Games-Technology,01Games Technology,http://www.01games.hk/,Games,operating,HKG,NaN,Hong Kong,Hong Kong,NaN
6,/Organization/0Ndine-Biomedical-Inc,Ondine Biomedical Inc.,http://ondinebio.com,Biotechnology,operating,CAN,BC,Vancouver,Vancouver,01-01-1997
7,/Organization/0Xdata,H2O.ai,http://h2o.ai/,Analytics,operating,USA,CA,SF Bay Area,Mountain View,01-01-2011
8,/Organization/1,One Inc.,http://whatis1.com,Mobile,operating,USA,CA,SF Bay Area,San Francisco,01-08-2011
9,/Organization/1-2-3-Listo,"1,2,3 Listo",http://www.123listo.com,E-Commerce,operating,CHL,12,Santiago,Las Condes,01-01-2012

In [9]:
df_com['permalink'] = df_com['permalink'].str.lower()

In [10]:
df_com.head(10)

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/organization/-fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/organization/-qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
2,/organization/-the-one-of-them-inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
3,/organization/0-6-com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007
4,/organization/004-technologies,004 Technologies,http://004gmbh.de/en/004-interact,Software,operating,USA,IL,"Springfield, Illinois",Champaign,01-01-2010
5,/organization/01games-technology,01Games Technology,http://www.01games.hk/,Games,operating,HKG,NaN,Hong Kong,Hong Kong,NaN
6,/organization/0ndine-biomedical-inc,Ondine Biomedical Inc.,http://ondinebio.com,Biotechnology,operating,CAN,BC,Vancouver,Vancouver,01-01-1997
7,/organization/0xdata,H2O.ai,http://h2o.ai/,Analytics,operating,USA,CA,SF Bay Area,Mountain View,01-01-2011
8,/organization/1,One Inc.,http://whatis1.com,Mobile,operating,USA,CA,SF Bay Area,San Francisco,01-08-2011
9,/organization/1-2-3-listo,"1,2,3 Listo",http://www.123listo.com,E-Commerce,operating,CHL,12,Santiago,Las Condes,01-01-2012

In [11]:
unique_permalink = df_com.permalink.unique()
print(len(unique_permalink))

66368

In [12]:
df_com['name'] = df_com['name'].str.lower()

In [13]:
df_com.head(15)

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/organization/-fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/organization/-qounter,:qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
2,/organization/-the-one-of-them-inc-,"(the) one of them,inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
3,/organization/0-6-com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007
4,/organization/004-technologies,004 technologies,http://004gmbh.de/en/004-interact,Software,operating,USA,IL,"Springfield, Illinois",Champaign,01-01-2010
5,/organization/01games-technology,01games technology,http://www.01games.hk/,Games,operating,HKG,NaN,Hong Kong,Hong Kong,NaN
6,/organization/0ndine-biomedical-inc,ondine biomedical inc.,http://ondinebio.com,Biotechnology,operating,CAN,BC,Vancouver,Vancouver,01-01-1997
7,/organization/0xdata,h2o.ai,http://h2o.ai/,Analytics,operating,USA,CA,SF Bay Area,Mountain View,01-01-2011
8,/organization/1,one inc.,http://whatis1.com,Mobile,operating,USA,CA,SF Bay Area,San Francisco,01-08-2011
9,/organization/1-2-3-listo,"1,2,3 listo",http://www.123listo.com,E-Commerce,operating,CHL,12,Santiago,Las Condes,01-01-2012
10,/organization/1-4-all,1-4 all,NaN,Entertainment|Games|Software,operating,USA,NC,NC - Other,Connellys Springs,NaN
11,/organization/1-618-technology,1.618 technology,http://www.Homeandcondogallery.com,Networking|Real Estate|Web Hosting,operating,USA,FL,Orlando,Orlando,07-12-2013
12,/organization/1-800-dentist,1-800-dentist,http://www.1800dentist.com,Health and Wellness,operating,USA,CA,Los Angeles,Los Angeles,01-01-1986
13,/organization/1-800-doctors,1-800-doctors,http://1800doctors.com,Health and Wellness,operating,USA,NJ,Newark,Iselin,01-01-1984
14,/organization/1-800-publicrelations-inc-,"1-800-publicrelations, inc.",http://www.1800publicrelations.com,Internet Marketing|Media|Public Relations,operating,USA,NY,New York City,New York,24-10-2013

In [14]:
unique_name = df_com.name.unique()
len(unique_name)

66038

In [15]:
df_dup_com = df_com[df_com.duplicated(['name'])]

In [16]:
df_dup_com1 = df_com[df_com.duplicated()]

In [17]:
df_dup_com1.shape

(0, 10)

In [18]:
df_dup_com.shape

(330, 10)

In [19]:
df_com.iloc[281]

permalink           /organization/3divaz-2
name                                3divaz
homepage_url     http://www.3divaz.ch/Home
category_list                          NaN
status                              closed
country_code                           NaN
state_code                             NaN
region                                 NaN
city                                   NaN
founded_at                      01-07-2014
Name: 281, dtype: object

In [20]:
df_com.iloc[282]

permalink           /organization/3divaz-3
name                                3divaz
homepage_url     http://www.3divaz.ch/Home
category_list                          NaN
status                           operating
country_code                           CHE
state_code                               1
region                         CHE - Other
city                               Wildegg
founded_at                      01-07-2014
Name: 282, dtype: object

## Rounds

In [21]:
df_rounds = pd.read_csv('rounds2.csv', encoding='ISO-8859-1')

In [22]:
df_rounds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114949 entries, 0 to 114948
Data columns (total 6 columns):
company_permalink          114949 non-null object
funding_round_permalink    114949 non-null object
funding_round_type         114949 non-null object
funding_round_code         31140 non-null object
funded_at                  114949 non-null object
raised_amount_usd          94959 non-null float64
dtypes: float64(1), object(5)
memory usage: 5.3+ MB

In [23]:
df_rounds.describe()

       raised_amount_usd
count       9.495900e+04
mean        1.042687e+07
std         1.148212e+08
min         0.000000e+00
25%         3.225000e+05
50%         1.680511e+06
75%         7.000000e+06
max         2.127194e+10

In [24]:
df_rounds.shape

(114949, 6)

In [25]:
df_rounds.columns

Index(['company_permalink', 'funding_round_permalink', 'funding_round_type',
       'funding_round_code', 'funded_at', 'raised_amount_usd'],
      dtype='object')

In [26]:
df_rounds.head(10)

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
1,/ORGANIZATION/-QOUNTER,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN
2,/organization/-qounter,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0
3,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0
4,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0
5,/ORGANIZATION/004-TECHNOLOGIES,/funding-round/1278dd4e6a37fa4b7d7e06c21b3c1830,venture,NaN,24-07-2014,NaN
6,/organization/01games-technology,/funding-round/7d53696f2b4f607a2f2a8cbb83d01839,undisclosed,NaN,01-07-2014,41250.0
7,/ORGANIZATION/0NDINE-BIOMEDICAL-INC,/funding-round/2b9d3ac293d5cdccbecff5c8cb0f327d,seed,NaN,11-09-2009,43360.0
8,/organization/0ndine-biomedical-inc,/funding-round/954b9499724b946ad8c396a57a5f3b72,venture,NaN,21-12-2009,719491.0
9,/ORGANIZATION/0XDATA,/funding-round/383a9bd2c04f7038bb543ccef5ba3eae,seed,NaN,22-05-2013,3000000.0

In [27]:
df_rounds['company_permalink'] = df_rounds['company_permalink'].str.lower()

In [28]:
df_rounds.head(10)

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
1,/organization/-qounter,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN
2,/organization/-qounter,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0
3,/organization/-the-one-of-them-inc-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0
4,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0
5,/organization/004-technologies,/funding-round/1278dd4e6a37fa4b7d7e06c21b3c1830,venture,NaN,24-07-2014,NaN
6,/organization/01games-technology,/funding-round/7d53696f2b4f607a2f2a8cbb83d01839,undisclosed,NaN,01-07-2014,41250.0
7,/organization/0ndine-biomedical-inc,/funding-round/2b9d3ac293d5cdccbecff5c8cb0f327d,seed,NaN,11-09-2009,43360.0
8,/organization/0ndine-biomedical-inc,/funding-round/954b9499724b946ad8c396a57a5f3b72,venture,NaN,21-12-2009,719491.0
9,/organization/0xdata,/funding-round/383a9bd2c04f7038bb543ccef5ba3eae,seed,NaN,22-05-2013,3000000.0

In [29]:
unique_comp_perm = df_rounds.company_permalink.unique()
print(len(unique_comp_perm))

66370

In [30]:
set_company_permlink = set(unique_comp_perm)

In [31]:
set_permlink = set(unique_permalink)

In [32]:
len(set_company_permlink)

66370

In [33]:
len(set_permlink)

66368

In [34]:
set_company_permlink.difference(set_permlink)

{'/organization/e-c\x8abica',
 '/organization/energystone-games-\x81\x9f\x88\x8f',
 '/organization/huizuche-com-\x83\xa0',
 '/organization/magnet-tech-\x81\x9f\x91\x8a\x80',
 '/organization/tipcat-interactive-\x99\x88\x81\x91\x9a\x80',
 '/organization/weiche-tech-\x96\x82\x91\x8a\x80',
 '/organization/zengame-\x85\x91\x8a\x80'}

In [35]:
set_diff_df = pd.concat([df_rounds['company_permalink'], df_com['permalink'], df_com['permalink']]).drop_duplicates(keep=False)
print(set_diff_df)

29597                               /organization/e-cbica
31863          /organization/energystone-games-
45176                  /organization/huizuche-com-
58473                /organization/magnet-tech-
101036    /organization/tipcat-interactive-...
109969               /organization/weiche-tech-
113839                   /organization/zengame-
dtype: object

In [36]:
set_permlink.difference(set_company_permlink)

{'/organization/e-c\x9abica',
 '/organization/energystone-games-\x81\x88\x8f',
 '/organization/huizuche-com-\x83\xa0\x9f',
 '/organization/tipcat-interactive-\x99\x88\x9f\x81\x91\x9a\x80',
 '/organization/zengame-\x85\x91\x9a\x80'}

In [37]:
master_frame = pd.merge(df_rounds, df_com, how='left', left_on='company_permalink', right_on='permalink')

In [38]:
master_frame.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 114949 entries, 0 to 114948
Data columns (total 16 columns):
company_permalink          114949 non-null object
funding_round_permalink    114949 non-null object
funding_round_type         114949 non-null object
funding_round_code         31140 non-null object
funded_at                  114949 non-null object
raised_amount_usd          94959 non-null float64
permalink                  114942 non-null object
name                       114941 non-null object
homepage_url               108810 non-null object
category_list              111535 non-null object
status                     114942 non-null object
country_code               106271 non-null object
state_code                 104003 non-null object
region                     104782 non-null object
city                       104785 non-null object
founded_at                 94422 non-null object
dtypes: float64(1), object(15)
memory usage: 14.9+ MB

In [39]:
master_frame.shape

(114949, 16)

In [44]:
print(df_rounds.shape)
print(df_rounds.columns)

(114949, 6)
Index(['company_permalink', 'funding_round_permalink', 'funding_round_type',
       'funding_round_code', 'funded_at', 'raised_amount_usd'],
      dtype='object')

In [43]:
print(df_com.shape)
print(df_com.columns)

(66368, 10)
Index(['permalink', 'name', 'homepage_url', 'category_list', 'status',
       'country_code', 'state_code', 'region', 'city', 'founded_at'],
      dtype='object')

In [42]:
master_frame.to_csv('master.csv')

## CheckPoint2

In [46]:
print(master_frame.funding_round_type.unique())

['venture' 'seed' 'undisclosed' 'equity_crowdfunding' 'convertible_note'
 'private_equity' 'debt_financing' 'angel' 'grant' 'secondary_market'
 'post_ipo_equity' 'post_ipo_debt' 'product_crowdfunding'
 'non_equity_assistance']

In [64]:
f_venture = master_frame['funding_round_type']=='venture'
f_seed = master_frame['funding_round_type']=='seed'
f_equity_cf = master_frame['funding_round_type']=='equity_crowdfunding'
f_note = master_frame['funding_round_type']=='convertible_note'
f_pequity = master_frame['funding_round_type']=='private_equity'
f_debt_fin = master_frame['funding_round_type']=='debt_financing'
f_angel = master_frame['funding_round_type']=='angel'
f_grant = master_frame['funding_round_type']=='grant'
f_sec_market = master_frame['funding_round_type']=='secondary_market'
f_pie = master_frame['funding_round_type']=='post_ipo_equity'
f_pid = master_frame['funding_round_type']=='post_ipo_debt'
f_pcf = master_frame['funding_round_type']=='product_crowdfunding'
f_nea = master_frame['funding_round_type']=='non_equity_assistance'

In [65]:
df_venture = master_frame[f_venture]
df_seed = master_frame[f_seed]
df_equity_cf = master_frame[f_equity_cf]
df_note = master_frame[f_note]
df_pequity = master_frame[f_pequity]
df_debt_fin = master_frame[f_debt_fin]
df_angel = master_frame[f_angel]
df_grant = master_frame[f_grant]
df_sec_market = master_frame[f_sec_market]
df_pie = master_frame[f_pie]
df_pid = master_frame[f_pid]
df_pcf = master_frame[f_pcf]
df_nea = master_frame[f_nea]

In [84]:
print(df_venture.raised_amount_usd.mean())
print(df_seed.raised_amount_usd.mean())
# print(df_equity_cf.raised_amount_usd.mean())
# print(df_note.raised_amount_usd.mean())
print(df_pequity.raised_amount_usd.mean())
# print(df_debt_fin.raised_amount_usd.mean())
print(df_angel.raised_amount_usd.mean())
# print(df_grant.raised_amount_usd.mean())
# print(df_sec_market.raised_amount_usd.mean())
# print(df_pie.raised_amount_usd.mean())
# print(df_pid.raised_amount_usd.mean())
# print(df_pcf.raised_amount_usd.mean())

11748949.129489528
719779.6202016778
73308593.02944215
958694.4697530865

In [73]:
m_venture = df_venture.raised_amount_usd.mean()
m_seed = df_seed.raised_amount_usd.mean()
m_pequity = df_pequity.raised_amount_usd.mean()
m_angel = df_angel.raised_amount_usd.mean()

In [72]:
# 5 to 15 million
lower = 5000000
upper = 15000000

In [75]:
m_venture>=lower and m_venture<upper

True

In [83]:
m_seed>=lower and m_seed<=upper

False

In [81]:
m_pequity>=lower and m_pequity<=upper

False

In [82]:
m_angel>=lower and m_angel<=upper

False

Result - VENTURE FUND

In [67]:
df = pd.merge(df_rounds, df_com, left_on='company_permalink', right_on='permalink')

In [68]:
df.shape

(114942, 16)

In [69]:
f_venture = df['funding_round_type']=='venture'
f_seed = df['funding_round_type']=='seed'
f_pequity = df['funding_round_type']=='private_equity'
f_angel = df['funding_round_type']=='angel'

In [70]:
df_venture = df[f_venture]
df_seed = df[f_seed]
df_pequity = df[f_pequity]
df_angel = df[f_angel]

In [71]:
print(df_venture.raised_amount_usd.mean())
print(df_seed.raised_amount_usd.mean())
print(df_pequity.raised_amount_usd.mean())
print(df_angel.raised_amount_usd.mean())

11748949.129489528
719779.6202016778
73308593.02944215
958694.4697530865