In [1]:
import numpy as np
import pandas as pd

In [6]:
df = pd.read_csv('MyFoodRatings.csv')

In [10]:
df.columns

Index(['Name', 'Chicken', 'Mutton', 'Paneer', 'ChowMein', 'SpringRolls',
       'Momo', 'Sushi', 'Ramen', 'Tempura'],
      dtype='object')

In [15]:
df.drop(labels=['Name'], axis=1,inplace=True)

In [16]:
u,s,vt = np.linalg.svd(df, full_matrices=True)

In [17]:
u.shape

(12, 12)

In [18]:
s.shape

(9,)

In [19]:
vt.shape

(9, 9)

In [27]:
np.round(np.array(s),2)

array([12.73, 10.58,  8.85,  1.24,  1.06,  0.41,  0.  ,  0.  ,  0.  ])

In [28]:
df_vt = pd.DataFrame(vt)
df_vt.columns = df.columns
df_vt.head(3)

,Chicken,Mutton,Paneer,ChowMein,SpringRolls,Momo,Sushi,Ramen,Tempura
0,-0.57735,-0.57735,-0.57735,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.00000,0.00000,0.00000,-0.637875,-0.512261,-0.575068,0.000000,0.000000,0.000000
2,0.00000,0.00000,0.00000,0.000000,0.000000,0.000000,-0.476163,-0.557638,-0.679933

In [30]:
vt[:3,:]

array([[-0.57735027, -0.57735027, -0.57735027,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ],
       [ 0.        ,  0.        ,  0.        , -0.63787511, -0.51226147,
        -0.57506829,  0.        ,  0.        ,  0.        ],
       [ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        , -0.47616345, -0.55763787, -0.67993263]])